@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
  /* overflow: hidden; */
}


.side-bar::-webkit-scrollbar {
  width: 5px;
}

.side-bar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.side-bar::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.right-bar::-webkit-scrollbar {
  width: 5px;
}

.right-bar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.right-bar::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.chat-box-wrapper::-webkit-scrollbar {
  width: 2px;
}

.chat-box-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chat-box-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}